---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$serif:            chaparral-pro, georgia, serif;
$sans:             ff-meta-web-pro, verdana, helvetica, "helvetica neue", sans-serif;

$purple:           #21233D;
$teal-light:       #38B7BB;
$teal-dark:        #2A898C;
$red:              #FF4834;
$background:       #FFFFFF;

$period:           200ms;

@mixin calc($property, $expression) {
  #{$property}: calc(#{$expression});
}

@import
  "typography",
  "layout",
  "objects"
;