---
layout: default
title: Everydays Archive
permalink: /everydays/
---
<style>
table {
  margin: auto;
}
th,
td {
  text-align: center;
  width: 1.375em;
}
th {
  font-size: 1em;
  font-weight: normal;
}
.highlight {
  background: #38B7BB;
  border-radius: 50%;
  color: white;
}
</style>

{% comment %} "array" of month lengths for later reference {% endcomment %}
{% assign months = "0|31|29|31|30|31|30|31|31|30|31|30|31"|split:"|" %}

<div class="row">
  <article class="column-2">
    <h2>Everydays</h2>
    <p>These pieces are part of my everydays project, for which I'm making something every[week]day under the themes of motion design and 3D modeling.</p>
  </article>
</div>
{% comment %} cycle all posts in reverse for years to display {% endcomment %}
{% for post in site.posts reversed %}
  {% assign currentYear = post.date|date:"%Y" %}
  {% comment %} if new year {% endcomment %}
  {% if currentYear != lastYear %}
    <div class="row">
      {% comment %} display the year {% endcomment %}
      <h1 class="center">{{ currentYear }}</h1>
      {% comment %} cycle all posts in reverse for months to display {% endcomment %}
      {% for post in site.posts reversed %}
        {% assign year = post.date|date:"%Y" %}
        {% assign currentMonth = post.date|date:"%m"|plus:0 %}
        {% comment %} only display posts from within the current year {% endcomment %}
        {% if year == currentYear %}
          {% comment %} if new month {% endcomment %}
          {% if currentMonth != lastMonth %}
            {% comment %} display the month {% endcomment %}
            <div class="column-1">
              <h3 class="center">{{ post.date|date:"%B" }}</h3>
              <table>
                <tr>
                  <th>Su</th>
                  <th>M</th>
                  <th>Tu</th>
                  <th>W</th>
                  <th>Th</th>
                  <th>F</th>
                  <th>Sa</th>
                </tr>
                <tr>
                  {% comment %} reset for lastDay to trigger 'new month' if block {% endcomment %}
                  {% assign lastDay = null %}
                  {% comment %} for use in limiting week length to 7 days {% endcomment %}
                  {% assign weekCycle = -1 %}
                  {% comment %} cycle through all posts for days to display {% endcomment %}
                  {% for post in site.posts reversed %}
                    {% assign month = post.date|date:"%m"|plus:0 %}
                    {% assign currentDay = post.date|date:"%-d" %}
                    {% assign previousDay = currentDay|minus:1 %}

                    {% comment %} only display posts from within the current month {% endcomment %}
                    {% if month == currentMonth %}
                      {% comment %} if new month {% endcomment %}
                      {% if currentDay != lastDay %}
                        {% comment %} if this is the first post of the current month {% endcomment %}
                        {% if lastDay == null %}

                          {% comment %} (day of week) - ( (day of month)modulo(7) ) + 1 = (first of month) {% endcomment %}
                          {% assign day    = post.date|date:"%-d" %}
                          {% assign mod    = day|modulo:7 %}
                          {% assign target = post.date|date:"%w" %}
                          {% assign target = target|minus:mod %}
                          {% comment %} convert negative references to positive {% endcomment %}
                          {% if target < -1 %}
                            {% assign target = target|plus:7 %}
                          {% endif %}

                          {% comment %} add padding to the beginning of the month {% endcomment %}
                          {% comment %} ^^^ make calendars' weekdays accurate ^^^ {% endcomment %}
                          {% for i in (0..target) %}
                            {% comment %} limit week-length to 7 days {% endcomment %}
                            {% assign weekCycle = weekCycle|plus:1 %}
                            <td>&nbsp;</td>
                          {% endfor %}

                          {% comment %} write date cells from the 1st up until the first post of the month {% endcomment %}
                          {% for i in (1..previousDay) %}
                            {% comment %} limit week-length to 7 days {% endcomment %}
                            {% if weekCycle >= 6 %}
                              {% assign weekCycle = 0 %}
                              </tr><tr>
                            {% else %}
                              {% assign weekCycle = weekCycle|plus:1 %}
                            {% endif %}
                            {% comment %} write the date cell {% endcomment %}
                            <td>{{ i }}</td>
                          {% endfor %}

                        {% comment %} if there are previous posts in the current month {% endcomment %}
                        {% else %}
                          {% comment %} write date cells between the previous post and the current post {% endcomment %}
                          {% for i in (lastDay..previousDay) %}
                            {% comment %} limit week-length to 7 days {% endcomment %}
                            {% if weekCycle >= 6 %}
                              {% assign weekCycle = 0 %}
                              </tr><tr>
                            {% else %}
                              {% assign weekCycle = weekCycle|plus:1 %}
                            {% endif %}
                            {% comment %} write the date cell {% endcomment %}
                            <td>{{ i }}</td>
                          {% endfor %}
                        {% endif %}

                        {% comment %} limit week-length to 7 days {% endcomment %}
                        {% if weekCycle >= 6 %}
                          {% assign weekCycle = 0 %}
                          </tr><tr>
                        {% else %}
                          {% assign weekCycle = weekCycle|plus:1 %}
                        {% endif %}

                        {% comment %} write the post cell {% endcomment %}
                        <td class="highlight" data-title="{{ post.title }}">{{ currentDay }}</td>
                      {% endif %}

                      {% comment %} increment lastDay for the next post's reference {% endcomment %}
                      {% assign lastDay = currentDay|plus:1 %}
                    {% endif %}
                  {% endfor %}
                {% comment %} write date cells between the last post of the month and the end of the month {% endcomment %}
                {% assign monthLength = months[currentMonth] %}
                {% for i in (lastDay..monthLength) %}
                  {% comment %} limit week-length to 7 days {% endcomment %}
                  {% if weekCycle >= 6 %}
                    {% assign weekCycle = 0 %}
                    </tr><tr>
                  {% else %}
                    {% assign weekCycle = weekCycle|plus:1 %}
                  {% endif %}
                  {% comment %} write the date cell {% endcomment %}
                  <td>{{ i }}</td>
                {% endfor %}
                {% comment %} close the table's last row {% endcomment %}
                </tr>
              {% comment %} close the month's table {% endcomment %}
              </table>
            {% comment %} close the month's styling div {% endcomment %}
            </div>
          {% endif %}
        {% endif %}
        {% comment %} increment lastMonth for the next month's reference {% endcomment %}
        {% assign lastMonth = currentMonth %}
      {% endfor %}
    {% comment %} close the year's styling div {% endcomment %}
    </div>
  {% endif %}
  {% comment %} increment lastYear for the next year's reference {% endcomment %}
  {% assign lastYear = currentYear %}
{% endfor %}
