---
layout: default
permalink: /
---
<section id="portfolio">
  <h3>Portfolio</h3>
  <div>Select recent professional and conceptual work</div>
  <ul class="row">
    {% assign sortedPosts = site.portfolio | sort:"order" %}
    {% for post in sortedPosts %}
      <li class="column-2 clickbox">
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
            {% if post.image %}
              <div class="image--cover" style="background:url('{{ site.assets }}covers/{{ post.image|split:"."|first }}.jpg')">
              </div>
            {% else %}
              <div class="image--cover" style="background:url('{{ site.assets }}covers/{{ post.cover }}')">
              </div>
            {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section id="everydays">
  <h3>Everydays</h3>
  <div>View all posts in <a href="{{ site.baseurl }}everydays/" title="Everydays project archive">the archive</a></div>
  <ul class="row">
    {% for post in site.posts|limit:8 %}
      <li class="column-1 clickbox clickbox--mini">
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
          <div class="image--cover" style="background:url('{{ site.assets }}everydays/{{ post.title|downcase }}.jpg')">
          </div>
        </a>
        <br>
      </li>
    {% endfor %}
  </ul>
</section>
<br>