<div class="column-4">
  <a href="/" class="quiet">
    <img class="inline" src="{{ site.assets }}svg/logo.svg" onerror="this.onerror=null; this.src='img/logo.png'" width="40" height="34">
    <h2 class="inline">Taylor Edwards</h2>
  </a>
  <span class="right">
    <h2 class="inline">
      <a href="{{ site.baseurl }}">Portfolio</a>&nbsp;&nbsp;
    </h2>
    <h2 class="inline">
      <a href="{{ site.baseurl }}archive/">Everydays</a>&nbsp;&nbsp;
    </h2>
    <h2 class="inline">
      <a href="mailto:me@tayloredwards.net" title="Email me here">me@tayloredwards.net</a>
    </h2>
  </span>
</div>