.row {
  display: inline-block;
  max-width: 960px;
  width: 100%;
}
.column-1,
.column-2,
.column-3,
.column-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 10px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
header {
  padding: 11px 0;
  .column-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
footer {
  border-top: 1px solid $teal-light;
}
img {
  display: block;
  max-width: 100%;
  position: relative;
}
.container {
  text-align: center;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}
.intrinsic-wide {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
@media screen and (min-width: 568px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    padding: 11px 15px;
  }
  .column-1 {
    width: 25%;
  }
  .column-2 {
    width: 50%;
  }
  .column-3,
  .column-4 {
    width: 100%;
  }
  .space {
    margin-top: 66px;
  }
}
@media screen and (max-width: 767px) {
  .right {
    float: none;
  }
  .inline {
    display: block;
    margin: 0;
    padding: 6px;
    text-align: center;
  }
  img.inline {
    margin: 6px auto 11px !important;
  }
}
@media screen and (min-width: 768px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    padding: 22px 30px;
  }
  .column-3 {
    width: 75%;
  }
}
