img.inline {
  margin: 10px 10px 0 0;
}
.feature {
  margin: 14px auto 0; /* extra 3px for optical alignment */
  max-width: 1280px;
}
.feature--video {
  @extend .intrinsic-wide;
}
.feature--video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.feature--image {
  border-top: 4px solid $teal-light;
  border-bottom: 4px solid $teal-light;
}
a:hover .image--cover {
  &:after {
    opacity: .25;
  }
}
.clickbox {
  overflow: hidden;
  h2,
  .image--cover {
    box-shadow: 0 0 11px rgba(33,35,61,.2);
  }
  h2 {
    background: #fff;
    border: 4px solid;
    bottom: 12%;
    left: 9%;
    max-width: 50%;
    padding: 10px 15px;
    position: absolute;
    white-space: normal;
    z-index: 100;
  }
  .image--cover {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    @extend .intrinsic-wide;
  }
}
.clickbox--mini {
  h2 {
    bottom: 5.5%;
    left: 5%;
  }
}
.image--cover {
  display: inline-block;
  position: relative;
  &:after {
    background: $red;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $period;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .feature--video {
    padding-bottom: 720px;
  }
  .feature--image {
    border: 6px solid $teal-light;
  }
}