img.inline {
  margin: 10px 10px 0 0;
}
.video,
.frame {
  margin: 11px auto 0;
  max-width: 1280px;
}
/* intrinsic iframe resizing */
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame {
  border-top: 4px solid $teal-light;
  border-bottom: 4px solid $teal-light;
}
.image--cover {
  display: inline-block;
  position: relative;
  &:after {
    background: $red;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $period;
    width: 100%;
  }
  &:hover:after {
    opacity: .25;
  }
}
.email-label:after {
  content: "email";
}
@media screen and (min-width: 768px) {
  .email-label:after {
    content: "me@tayloredwards.net";
  }
}
@media screen and (min-width: 1280px) {
  .video {
    padding-bottom: 720px;
  }
  .frame {
    border: 6px solid $teal-light;
  }
}