body {
  color: $purple;
  font: 16px/22px $sans normal;
  margin: 0 0 22px;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 18px 0 4px;
}
p {
  max-width: 35em;
}
p,
ul {
  margin: 0 0 8px;
}
ul ul {
  margin-bottom: 0;
  padding-left: 30px;
}
p + img,
img + img {
  margin: 18px 0 4px;
}
p > strong,
li > strong {
  font-size: 17px;
}
h1,
h2,
h3,
strong {
  font-family: $serif;
  line-height: 22px;
}
strong {
  line-height: 0px;
}
h1 {
  font-size: 40px;
  line-height: 44px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .75px;
}
ul {
  list-style: none;
  padding-left: 0;
}
a,
a:link {
  color: $teal-light;
  text-decoration: none;
  transition: color $period;
  white-space: nowrap;
}
a:active,
a:visited {
  color: $teal-dark;
}
a.quiet {
  color: $purple;
}
a:hover,
a:focus {
  color: $red;
  box-shadow: none;
  outline: none;
}
.doublelist {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}
.right {
  float: right;
  text-align: right !important;
}