body {
  background: $background;
  color: $purple;
  font: 16px/22px $sans normal;
  margin: 0 0 22px;
  padding: 0;
}
h1,
h2,
h3 {
  margin: 18px 0 4px;
}
p {
  max-width: 35em;
}
p,
ul {
  margin: 0 0 8px;
}
ul ul {
  margin-bottom: 0;
  padding-left: 30px;
}
p + img,
img + img {
  margin: 18px 0 4px;
}
p > strong,
li > strong {
  font-size: 17px;
}
h1,
h2,
h3,
strong {
  font-family: $serif;
  line-height: 22px;
}
h1 {
  font-size: 40px;
  line-height: 44px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .75px;
}
table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  cursor: pointer;
}
th,
td {
  text-align: center;
  width: 1.375em;
}
th {
  @extend strong;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  &,
  &:link {
    color: $teal-light;
    text-decoration: none;
    transition: color $period;
    @extend .restrict;
  }
  &:active,
  &:visited {
    color: $teal-dark;
  }
  &:hover,
  &:focus {
    color: $red;
    box-shadow: none;
    outline: none;
  }
  &.quiet {
    color: $purple;
  }
  &.reverse {
    display: block;
    height: 0;
    padding-bottom: 105%;
    width: 105%;
    @extend .reverse;
    &:active,
    &:visited {
      background: lighten($teal-dark,10%);
    }
    &:hover,
    &:focus {
      background: $red;
    }
    &.quiet {
      background: lighten($purple,10%);
    }
  }
}
.reverse {
  background: lighten($teal-light,10%);
  border-radius: 1.5em;
  color: $background;
}
.doublelist {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.right {
  float: right;
  text-align: right !important;
}
.restrict {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  a.reverse {
    padding-bottom: 110%;
    width: 110%;
  }
}