.column-* {
  width: 88%; /* fallback? */
  @include calc("width", "100% - 20px");
}


.nav {
  text-align: left;
}
.nav ul {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
  height: 68px;
  width: 88%;
  margin: 0 auto;
}
.nav ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 365px) {
  .nav ul {
    border-left: 1px solid $teal-light;
    height: auto;
    padding-left: 15px;
  }
}
@media screen and (min-width: 365px) {
  .nav ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 480px) {
  .nav ul li {
    padding-left: 15px;
    border-left: 1px solid $teal-light;
  }
  header {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 767px) {
  .nav ul {
    max-width: 520px;
  }
}
@media screen and (min-width: 768px) {
  .nav ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    height: 46px;
    width: 708px;
  }
}
@media screen and (min-width: 1024px) {
  .nav ul {
    width: 960px;
  }
}